<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MedCheck</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img src="../media/img/meds.png" width="50%" height="50%">
      </div>
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item" id="drug_name">Drug name: </li>
          <li class="list-group-item" id="manufacturer">Manufacturer: </li>
          <li class="list-group-item" id="side_effects">Reported side effects: </li>
          <li class="list-group-item" id="recall">Under active recall: </li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>