<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MedChecker</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">

<body>
  <h1>Register User</h1>
  <form method="post" action="/add" class="form-horizontal">
      <div class="control-group">
      <label class="control-label" for="input_username">Username</label>
      <div class="controls">
        <input class="form-control" type="text" id="input_username" name="username" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input_first_name">First Name</label>
      <div class="controls">
        <input class="form-control" type="text" id="input_first_name" name="first_name" placeholder="First Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input_last_name">Last Name</label>
      <div class="controls">
        <input class="form-control" type="text" id="input_last_name" name="last_name" placeholder="Last Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input_email">Email</label>
      <div class="controls">
        <input class="form-control" type="text" id="input_email" name="email" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input_password">Password</label>
      <div class="controls">
        <input class="form-control" type="password" id="input_password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </div>
  </form>

</body>
</html>
